body {
    margin: 0 0;
}

fieldset {
    border: none;
    padding: 0;
}

form {
    max-width: 731px;
    color: #ffffff;
    padding-bottom: 350px;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    margin-right: 30px;
    position: relative;

    @include margin-left-167;
}

* {
    box-sizing: border-box;
}

.visually-hidden {
    display: none;
}

.visible {
    display: block;
}

@media (max-width: $tablet-width) {
    form {
        margin-right: 18px;

        @include margin-left-18;
    }
}
