body {
    margin: 0 0;
}

fieldset {
    border: none;
    padding: 0;
}

form {
    max-width: 731px;
    color: #ffffff;
    margin-left: 167px;
    padding-bottom: 150px;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    margin-right: 30px;
}
