.form-item {
    position: relative;
}

.form-item__par {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    @include font-13;

    & input {
        @include entry-field-height;
    }

    & label {
        margin-bottom: 7px;
    }
}

.form-item__par input[type="text"] {
    padding-left: 10px;
}
