.goods__wrapper {
    max-width: 353px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
}

.goods__item--type {
    width: 100%;

    & select {
        width: 100%;
    }
}

.goods__item input[type="text"] {
    padding-left: 10px;
}

.goods__item--hazard,
.goods__item--value {
    width: 49%;
}

.goods__item--value input {
    border: none;
    padding: 0;
    width: 100%;

    @include entry-field-height;

    &::placeholder {
        padding-left: 0;
        color: #cfcfcf;

        @include font-15;
    }
}

.goods__item h4 {
    font-weight: 400;
    margin-bottom: 7px;

    @include font-13;
}

.goods__item select {
    width: 100%;

    @include entry-field-height;
    @include font-15;
}

.goods__item-checkbox {
    text-align: left;
    margin-top: 20px;
}

.goods label {
    @include font-13;
}

.goods__temperature input {
    @include entry-field-height;
}

div.goods__select {
    .ss-single-selected {
        border-radius: 0;
        @include entry-field-height;
    }
    .ss-list .ss-option {
        &:hover {
            background-color: red;
        }
    }
}
