.transport {
    max-width: 353px;
}

.transport__list {
    list-style-type: none;
    width: 50%;

    & select {
        width: 100%;
        cursor: pointer;

        @include entry-field-height;
        @include font-15;
    }
}

.transport__list-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 10px;
}

.transport__list h4 {
    font-weight: 400;
    margin-bottom: 7px;

    @include font-13;
}
