.transport {
    max-width: 353px;
}

.transport__list {
    list-style-type: none;
    width: 50%;
}

.transport__list-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 10px;
}

.transport__list h4 {
    font-weight: 400;
    margin-bottom: 7px;

    @include font-13;
}

div.transport__select {
    .ss-single-selected {
        border-radius: 0;
        @include entry-field-height;
    }
    .ss-list .ss-option {
        &:hover {
            background-color: red;
        }
    }
}
